<?xml version="1.0"?>
<opencv_storage>
    <!--<storagePath>/storage/emulated/0/Android/data/de.alextape.openmaka/files</storagePath>-->
    <storagePath>C:\\workspace\\OpenMakaEngine</storagePath>
    <defaultObjectImage>\\images\\card.jpg</defaultObjectImage>
    <statisticsMode>false</statisticsMode>
    <statisticsFile>test-results\\statistics.csv</statisticsFile>
    <debugMode>true</debugMode>
    <useWindows>true</useWindows>
    <saveResultFrames>false</saveResultFrames>
    <sceneFrame>
        <maxImageSize>2000</maxImageSize>
    </sceneFrame>
    <analyzer>
        <detector>SURF</detector>
        <extractor>SURF</extractor>
        <matcher>Flann</matcher>
        <minimumInliers>5</minimumInliers>
        <minimumMatches>4</minimumMatches>
        <nnDistanceRatio>0.6</nnDistanceRatio>
        <kGroups>2</kGroups>
        <ransacReprojectionThreshold>3.0</ransacReprojectionThreshold>
    </analyzer>
    <tracker>
        <maxCorners>80</maxCorners>
        <qualityLevel>0.1</qualityLevel>
        <minimumDistance>5</minimumDistance>
    </tracker>
</opencv_storage>
